<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        
            <a href="/"> <img src="/images/eventlogo.png" height="80px" width="80px"/></a>
            
        <div>
            <p><a href="/events/bookahall">Book a Hall</a></p>
            <p><a href="#">Login</a></p>
            <p><a href="#">Sign Up</a></p>
        </div>
    </header>
    <nav>
        <p><a href="/">Home</a></p>
        <p><a href="/events">Events</a></p>
        <p><a href="#">Order Food</a></p>
    </nav>