<link rel="stylesheet" type="text/css" href="/css/index.css" />

<%- include('./partials/header.ejs')%>

<!-- <p>This page displays the details of the application</p> -->
<main>
    <p>Welcome to our premier event management website, your one-stop destination for all your event planning needs.
         Whether you're organizing a wedding, a birthday celebration, or a corporate conference, we've got you covered.
          Our platform offers a curated selection of diverse event venues, 
          ranging from elegant wedding halls to vibrant party venues and fully equipped conference centers. 
          With our user-friendly interface, you can easily browse available dates and times, select the perfect venue, 
          and make hassle-free reservations. The convenience of online booking and secure payment processing ensures that planning your event is as smooth as possible.
           Join our community of event organizers and hosts today, and let us help you turn your event vision into a memorable reality.</p>
</main>

<%- include('./partials/footer.ejs')%>