<link rel="stylesheet" type="text/css" href="/css/index.css" />

<%- include('./partials/header.ejs')%>

    <main>
        <section class="contact-info">
            <h2>Get in Touch</h2>
            <p>If you have any questions, inquiries, or need assistance with your event planning, please don't hesitate to reach out to us. Our dedicated team is here to help you.</p>

            <address>
                <p><strong>Address:</strong> 123 Event Avenue, Cityville, ST 12345</p>
                <p><strong>Email:</strong> info@youreventmanagement.com</p>
                <p><strong>Phone:</strong> +1 (123) 456-7890</p>
            </address>
        </section>
    </main>




<%- include('./partials/footer.ejs')%>