
<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
    <main>
        <!-- <p><img src="event.jpg" height="100px" width="100px"></p><br><br> -->
        <img src="/images/eventlogo.png" alt="Homepage Image" width="20%">
        <div class="content">
            <i>
                "Welcome to our A & C Events, your gateway to seamless event planning and venue booking. Whether you're envisioning a grand wedding,
             a fun-filled birthday bash, or a professional corporate conference, our platform simplifies the entire process.
              With a diverse selection of meticulously curated event venues at your fingertips, from exquisite wedding halls to lively party venues and fully-equipped conference centers, we have the perfect space for your event. Our intuitive website allows you to explore available dates and times, effortlessly select your ideal venue, and make secure reservations. Discover comprehensive information about each venue, including capacity, amenities, pricing, and any additional services available, empowering you to make informed decisions for your event. Embrace the convenience of online booking and secure payment processing as we transform your event ideas into unforgettable experiences. Join our community of event enthusiasts, 
            organizers, and hosts today, and embark on a journey to turn your event dreams into a reality."
            </i>
        </div>
    </main>

<%- include('./partials/footer.ejs')%>
    

